# PrimeKG
NODES_LST = '["gene/protein", "drug", "disease"]'
EDGES_LST = '[]'
DATA_DIR = "./data/primekg"

# KGE 
## Architecture
ENCODER_MODEL_NAME = "rgcn"
DECODER_MODEL_NAME = "dismult"
IN_DIMS = 768
HIDDEN_DIM = 128
OUT_DIM = 128
NUM_HIDDEN = 2
NUM_HEAD = 0
DROP_OUT = true

## Traning
VAL_RATIO = 0.1
TEST_RATIO = 0.1
BATCH_SIZE = 64
STEP_PER_EPOCH = 1000
LEARNING_RATE = 0.001
EPOCHS = 10
SCHEDULER_TYPE = "cosine"
WARM_UP_RATIO = 0.2

SEED = 42
OUT_DIR = "./ckpt"
LOG_DIR = "./log"
VAL_EVERY_N_EPOCH = 2 